
# comment
.DS_Store

.git
.gitattributes
.gitignore
.DS_Store

**/.DS_Store
Overleaf/Icon
Overleaf/Icon
Data/Experimental Lab Data/Mechanism/**
**.icloud
**.RData
**.RHistory
Scripts/archive/**
Data/Self-Assesments/archive/**